{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
    <header class="header-area header-sticky">
        <div class="container ">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">Trendr</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#welcome" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#pricing">Pricing</a></li>
                            <li class="scroll-to-section"><a href="#service">Services</a></li>

                            <!-- <li class="submenu">
                                <a href="javascript:;">Drop Down</a>
                                <ul>
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Features</a></li>
                                    <li><a href="">FAQ's</a></li>
                                    <li><a href="">Blog</a></li>
                                </ul>
                            </li> -->
                            <li class="scroll-to-section"><a href="">Contact</a></li>
                            <!-- <li class="scroll-to-section"><a href="">Login</a></li> -->
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>



    
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <!-- Plugins -->

    <script src="{% static 'js/owl-carousel.js' %}"></script>   
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>

    <script src="{% static 'js/waypoints.min.js' %}"></script>

    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>

    <script src="{% static 'js/imgfix.min.js' %}"></script>
    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>